body {
  background-color: #252525;
  font-family: sans-serif;
}

.heading {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  font-size: 10px;
}

.title-one {
  color: #252525;
  opacity: 0.7;
  text-decoration: underline;
}

.auth-btn {
  color: white;
  background-image: linear-gradient(rgb(250, 125, 54), rgb(247, 107, 28));
  background-color: rgb(247, 107, 28); color: rgb(255, 255, 255);
  white-space: nowrap;
  cursor: pointer;
  border: none;
  font-size: 22px;
}
